# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules 
# removing nodemodules otherwise our node_modules from backend will also get pushed to git which we don't want.
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
