#root, html, body {
  font-family: "Charter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: 100vh;
  min-height: 70vh;
  box-sizing: border-box;
}

.superContainer{
  background: url(./assets/images/image3.jpg) repeat center center fixed;
  background-size:cover;
  height: 100%;
}