#root, html, body {
  margin: 0;
  font-family: "Charter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  background: url(./assets/images/image3.jpg);
  height: 120vh;
  background-size: cover;
}